# Ignore virtual environment
venv/

# Ignore virtual documents
.virtual_documents/

# Ignore Jupyter notebook checkpoints
src/.ipynb_checkpoints/

# Ignore build files
src/build/

# Other common ignores (optional)
__pycache__/
*.py[cod]
*.log
*.egg-info/
dist/
*.so
*.pyd
.DS_Store